.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {

    .menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 260px;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding: 80px 20px;
        box-shadow: -5px 0 20px rgba(0,0,0,0.15);
        transition: right 0.3s ease;
        display: flex;
        z-index: 9999;
    }

    .menu.ativo {
        right: 0;
    }

    .menu a {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* ================= OVERLAY ================= */

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 9998;
}

.menu-overlay.ativo {
    opacity: 1;
    visibility: visible;
}
/*CARROSSEL*/
/*
.hero {
    position: relative;
    height: 450px;
    background: #2f4f75;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
*/
.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9998;
}

.menu-overlay.ativo {
    opacity: 1;
    visibility: visible;
}