.banner-noticias {
    background: #2f4f75;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.container-noticias {
    padding: 50px 20%;
}

.admin-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.admin-box input,
.admin-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.admin-box button {
    background: #2f4f75;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.grid-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card-noticia {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
    transition: 0.3s;
    cursor: pointer;
}

.card-noticia:hover {
    transform: translateY(-6px);
}

.card-content h3 {
    font-size: 20px;
    
}

.card-content p {
    font-size: 14px;
    color: #555;
}

.card-noticia img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: 0;
    color: #1363c4;
}

.card-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.card-buttons button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-editar {
    background: #f0ad4e;
    color: white;
}

.btn-excluir {
    background: #d9534f;
    color: white;
}